<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makale Ekle</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body class="bg-light d-flex align-items-center justify-content-center">
    <div class="p-3 ">
      <h3 class="p-2 text-center bg-info text-white ">
        Makale Ekle
      </h3>
      <form enctype="multipart/form-data" action="/veritabanina-ekle" method="post">
        <div class="row mb-2">
          <div class="col">
            <input required class="form-control" type="text" name="baslik" placeholder="Başlık">
          </div>

        </div>
        <div class="row mb-2">
          <div class="col">
            <input required class="form-control" type="text" name="kategori" placeholder="Kategori">
          </div>

        </div>

        <textarea required class="form-control mb-2" name="makale" rows="3"></textarea>
        <div class="col form-control mb-2 d-flex align-items-center">
            <span>Resim Seçiniz : </span>
            <input required class="pl-3" name="dosya" id="dosya" type="file">
        </div>
        <input class="w-100 btn btn-danger" type="submit" value="Ekle" >
        <a class="mt-4" href="/cikis">Çıkış Yap</a>
      </form>



    </div>
  </body>
</html>
